# OKX API Configuration
api_key=931703ec-a310-4bc0-9e78-a9dc4fb9b094
secret_key=45924C7AFEF907FD943F00DE828E7D2B
passphrase=Sj@1498520671
flag=1

# 代理配置（如果需要）
https_proxy=http://127.0.0.1:7890
http_proxy=http://127.0.0.1:7890

# AI 交易配置
llm_provider=anthropic
llm_max_tokens=1024
llm_temperature=0.7

anthropic_api_key=xxxx
anthropic_base_url=
anthropic_model=xxxx

openai_api_key=xxxx
openai_base_url=
openai_model=xxxx
